/* Headern överst*/
:root {
    --ff-chrome: Arial, Helvetica, Verdana, Geneva, sans-serif;
  }

  
body {
    background-color: #f7f7f7;
}

.contact-header {
    top: 0;
    left: 0;
    height: 270px;
    background-color: rgb(221,42,48);
    color: #b7b7b7;
    text-align: left;
    padding: 2px 150px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    z-index: 1000;
}

.contact-title {
    font-size: 34PX;
    color: #dedede;
    font-weight: 600;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    text-align: center;
    line-height: 1.4;
    margin-top: 70px;
}

.contact-text {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    margin-top: 50px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-box {
    width: 80%;
    max-width: 1000px;
    padding: 10px;
    height: 30px;
    border: 2px solid rgb(221,42,48);
    border-radius: 20px;
    outline: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}
  
.support-side {
    max-width: 600px;
    margin-left: 100px;
}

.support-h {
    color: #000;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}


.red-text {
    font-size: 16px;
    color: rgb(221, 42, 48);
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    margin-top: 50px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}

.red-text:hover {
    text-decoration: underline;
}

.support-text {
    color: #4c4c4c;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}

.support-side p {
    color: #706f6f;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.support-column {
    margin-bottom: 60px;
}

.adress-column p {
    margin: 5px 0;
    line-height: 1.2; 
}

.adress-column {
    margin-bottom: 50px;
}

